# Dependencies
backend/venv/
__pycache__/
**/__pycache__/
frontend/node_modules/
frontend/dist/

# Environment & Credentials
.env
backend/.env
*.log
*.pem
deployment.json
*.png

# OS & IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
*.db
*.sqlite3
